html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body { font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; word-wrap: break-word;}
body { background-color: #fff;}

img { height: auto; max-width: 100%;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
h1 {font-size: 32px;}
a{text-decoration:none;}
.txt-rt{text-align:right;}
.txt-lt{text-align:left;}
.txt-center{text-align:center;}
.fr{float:right;}
.fl{float:left;}
.clear{clear:both;}
.logout-info{position: absolute;right: 12px;padding-top:6px;}
.mb6{margin-bottom:6px;}
.mb24{margin-bottom:24px;}
.mt12{margin-top:12px;}
.mt16{margin-top: 16px;}
.mt32{margin-top:32px;}
.mt85{margin-top:85px;}
.btn-primary {
    color: #fff;
    background-color: #2366fe;
    border-color: #2e6da4;
    padding:6px 24px;
}